#div-form{
    width: 500px;
    min-height: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d5b4f3;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#form{
    background-color: rgb(220, 177, 240);
    padding: 10px;
}

label{
    display: block;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.6em;
}

.input-vlr01{
    width: 400px;
}

.imput-vlr01, .input-vlr02{
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2em;
}

.input-vlr02{
    width: 250px;
}

input[type="radio"], input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

textarea{
    width: 400px;
    height: 100px;
    padding: 20px;
    resize: none;
}

#div-btns{
    margin: 20px 0px;
    padding: 5px;
}

button{
    width: 140px;
    height: 30px;
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    color: rgb(124, 9, 231);
    letter-spacing: 3px;
}

a:link{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #d5b4f3;
    background-color: blueviolet;
}

a:visited, a:active{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #d5b4f3;
}

a:hover{
    color: black;
    background-color: aliceblue;
}