/*
seletor {
    propriedade: valor;
    propriedade: valor; 
}
*/

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #7bb361;
}
p{
   font-family: Helvetica;
   text-align: justify;
   line-height: 35px;
   color: #095331;

}
#paragrafo01{ 
    margin-left: 250px;
    text-transform: uppercase;

}
#paragarfo02{
    margin-right: 350px;
    background-color: aqua;

}
.paragrafos{
font-family: 'Courier New', Courier, monospace;
font-size: 2.3em;

}
.parag_especial{
    text-decoration: line-through;
}